OPENROUTER_API_KEY=<your open router api key>

# DATABASE
DB_HOST=<your DB host>
DB_PORT=<your DB port>
DB_USER=<your DB user name>
DB_PASS=<your DB password>
DB_NAME=<your DB database name>

# For testing
MODE=PROD